footer {
  position: sticky;
  top: 100%;
  background-color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  flex-wrap: nowrap;
  padding: 10px 0;
  gap: 10px 0;
  font-size: 0.8em;
}

.social-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}

.social-footer div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-footer hr {
  border-bottom: none;
}

footer a {
  text-decoration: underline;
}

.social-icon {
  width: 20px;
  background-color: white;
  border-radius: 20%;
}

.github {
  border-radius: 100%;
}

footer a:hover {
  color: rgb(1, 138, 1);
}
.social-icon:hover {
  background-color: rgb(27, 141, 27);
}

.name-footer {
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: .15em;
}

.copyright-footer {
  display: flex;
  gap: 0 30px;
}

.links-footer a{
  margin: 0 10px;
}